@import url('gears.css');
@import url('bootstrap-icons.css');

* {
    /* Universal reset: */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    vertical-align: top;
}

span:focus{
    outline: 0;
}

header, footer, article, section, nav, figure {
    /* Giving a display value to the HTML5 rendered elements: */
    display: block;
}

body {
    background: #ececec;
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #535353;
}

/* Hyperlink Styles: */
a, a:visited {
    color: #2E2E2E;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

/* Headings: */
h1, h2, h3 {
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*text-shadow: 2px 2px 2px black;    */
}

h1 {
    font-size: 32px;
    border: 0px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

h2 {
    color: #fff;
}

p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.displayInlineBlock {
    display: inline-block;
}

#workbench {
    height: 100%;
}

#leftColumn {
    width: 14em;
}

#rightColumn {
    width: 14em;
}

#bottomColumn {
    width: 14em;
}

.calclab-logo {
    font-weight: bold;
    font-size: 20pt;
    position: absolute;
    margin: -28px 0px 0px -12px;
    color: #444;
    text-shadow: 1px 1px 0px rgba(200, 200, 200, 1);
    border: 1px solid #777;
    padding: 7px 12px;
}

.calclab-logo-label {
    display: inline-block;
    width: 26px;
}

.calclab-logo-block {
    background: #999;
}

.calclab-logo-block :hover {
    background: #888;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

#workbench .topPane {
    background: #f5f5f5;
}

#workbench .toolbarPane {
    background: #f5f5f5;
}

#workbench .auth {
    margin-left: 5px;
}

#workbench .auth input {
    height: 28px;
}

.chLang {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/lang/ch.png) no-repeat;
}

.deLang {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/lang/de.png) no-repeat;
}

.enLang {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/lang/en.png) no-repeat;
}

.frLang {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/lang/fr.png) no-repeat;
}

.ruLang {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/lang/ru.png) no-repeat;
}

.icon-code {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/icons/code.png) no-repeat;
}

#workbench .CodeMirror {
    height: 100%;
}

#workbench .sourceButton {
    margin-left: 0px;
    margin-right: 0px;
}

#workbench .resultButton {
    margin-left: 0px;
}

#workbench .resultButton .dijitButtonText {
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

#workbench .sourceButton .dijitButtonNode {
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
    border-right: 0px;
}

#workbench .resultButton .dijitButtonNode {
    -webkit-border-radius: 0px 2px 2px 0px;
    border-radius: 0px 2px 2px 0px;

}